:root{
    --primaryColor:#0b9967;
    --secColor:#F7FCF6;
    --textColor:#12121F;
}
.row.react-bootstrap-table-pagination{
    margin-top:20px!important;
}
.body{
    background-color:#f9f9f9!important;
    max-height: 100vh;
    overflow-y: hidden;
}
.alert{
    padding: 0.5rem 0.5rem!important;
    font-size: 0.6rem!important;
}
.bg-circle-gradiant {
    background: radial-gradient(circle at 50% 50%, rgba(82, 179, 130, 0.1) 0%, rgba(82, 179, 130, 0.1) 33.333%, rgba(82, 179, 130, 0.3) 33.333%, rgba(82, 179, 130, 0.3) 66.666%, rgba(82, 179, 130, 0.5) 66.666%, rgba(82, 179, 130, 0.5) 99.999%);
}
.backArrow{
    color: #000; margin-left: 5%; margin-top: 2%;
    padding: 5px;
}
.boxOne{
    height: 100vh;
}
.login{
    background-color:#fff;
    height: auto;
    margin-top: 25vh;
    border-radius: 20px;
}
.boxTwo{
    height: 100vh;
    background-color:var(--primaryColor);
    background-image:url(../img/The-Cove.png);
    background-size:cover;
    background-position:center;
    border-radius: 20px 0px 0px 20px;
}
.f-r{
    float: right;
    clear: both;
}
.table-dark {
    --bs-table-bg: transparent!important;
    --bs-table-striped-bg: transparent!important;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: transparent!important;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: transparent!important;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: transparent!important;
}
.btn-warn{
    color: #fff!important;
    background-color: var(--primaryColor)!important;
    border-color: var(--primaryColor);
    width: 100%;
}
.container-fluid.home{
    padding:0;
}
.faqFlex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faqFlex div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.flex-column.nav {
    padding-right: 50px;
    transition: 1.5s; 
}
.myNav .nav-link{
    padding-left: 10%!important;
}
.list-drop {
    cursor: pointer;
    padding: 0;
  }
  .drop-down-nav{
    display: flex;
    align-items: center;
    padding-left:12%;
    gap: 10px;
    /* justify-content: flex-end; */
  }
.drop-down-nav a{
    text-decoration: none;
    color: #A4A1A1;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
}
.drop-down-nav a:hover{
    color: var(--primaryColor)!important;
}
.active-nav{
    color: var(--primaryColor)!important;
}
.iconDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.iconArrow{
     padding-bottom: 7px!important;
  }
.children {
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    /* visibility: hidden; */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-bottom: 5%;
  }
  
.list-drop:hover .children {
    opacity: 1;
    visibility: visible;
  }
  .contain{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color:#fff;
    max-height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
    width: 20vw;
    overflow: hidden;
    display: inline-block;
    border-right: 1px solid #D9D9D9;
    padding-left: 2%;
}
.main{
    position: absolute;
    left: 20vw;
    background-color:#fff!important; 
    min-height:100vh;
    overflow-y: auto;
    width: 80vw;
    display: inline-block;
}
.mainBox{
    display:flex;
    overflow-y: scroll; 
}
.mainBoxOne{
    min-height:100vh;
    /* width: 80%; */
    width: 70%;
    padding: 5% 3% 10% 3%;
}
.mainBoxTwo{
    /* width: 20%; */
    width: 30%;
    min-height:100vh;
    border-left: 1px solid #D9D9D9!important;
    padding-top:5%;
}
.nameSec{
    display: flex;
    align-items: center;
    width: 100%;
    gap:4%;
}

.nameSec div span.line {
    position: relative;
    left: 0;
    top: 0px;
    width: 100%;
    height: 2px;
    background-color: #017D3D;
}
.nameSec .dateBox{
    display: flex;
    align-items: center!important;
    gap: 10px;
}
.userName{
    font-size: 20px;
    color: var(--textColor);
    font-weight: bold;
}
.dateText{
    font-size: 10px;
    color: var(--textColor);
    font-weight: 600!important;
}
.form-check-label{
    font-size: 14px;
    color: #6A7187;
}
.profBox{
    /* margin-top:40px; */
    margin-bottom:40px;
    margin-left: 5%;
    margin-right: 5%;
    background-color:#FAFAFA;
    padding:3% 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center!important;
}
.settingBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.selectPref{
    /* display: flex;
    flex-wrap: wrap; */
    margin-bottom: 20px;
}
.profIconBox{
    display: flex;
    width: 50px;
    height:50px;
    justify-content: center;
    align-items: center;
    background-color: #D3F28B;
    padding: 10%;
    border-radius: 50%;
}
.profTextBox span{
    color: #6A7187;
    font-size:12px;
}
.profForm {
    padding: 3% 10%;
}
.analyticsBox{
    margin-top:40px;
    background-color:#FAFAFA;
    padding:8% 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center!important;
}
.analyticsBoxOne{
    display: flex;
    gap: 10px;
}
.iconBox{
    display: flex;
    width: 57px;
    height:47px;
    justify-content: center;
    align-items: center;
    background-color: #D3F28B;
    padding: 10%;
    border-radius: 4px;
}
.textBox{
    display:flex;
    flex-direction: column
}
.textBox span:nth-child(1){
    color: #000;
    font-size:22px;
    font-weight: bold;
}
.textBox span:nth-child(2){
    color: #6A7187;
    font-size:12px;
}
.featureParent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5% 0;
}
.feature{
    width: 32%;
    padding:5% 5% 0 5%;
    border-radius: 10px;
    cursor: pointer;
}
.featureParent .feature:nth-child(1){
    background-color: #E9FFE2;
}
.featureParent .feature:nth-child(2){
    background-color: #D0F8CB;
}
.featureParent .feature:nth-child(3){
    background-color: #D3F28B;
}

.mBoxOne{
    min-height:100vh;
    width: 70%;
    padding: 5% 0 0 0;
}
.mBoxOne .mContent{
    padding: 2% 5% 10% 5%;
    width: 100%;
}
.estContent{
    padding: 2% 5% 0 5%;
    width: 100%;
}
.heading-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 5%;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
}
.heading-section .navSection{
    display: flex;
    align-items: center;
    gap: 10px;
}

.inactiveText{
    font-size: 14px;
    color: #12121F;
    font-weight: 600;
}
.activeText{
    font-size: 14px;
    color: #7C7C7C;
    font-weight: 600;
}
.activeArrow{
    font-size: 14px;
    color: #12121F;
    font-weight: 600;
}
.userDataParent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.userData{
    cursor: pointer;
    width: 48%;
    background-color:#FAFAFA;
    margin: 4% 0;
    padding:5%;
    border-radius: 10px;
}
.useDataImg{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* height: 80%; */
    /* border-radius: 20px; */
}
.useDataImg2{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.userData .userDataOne{
    display: flex;
    gap: 10px;
}
.userDataOne .userDataName{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.userDataName span:nth-child(1){
    font-size: 22px;
    color: #12121F;
    font-weight: 600;
}

.userDataName span:nth-child(2), .userDataName span:nth-child(3){
    font-size: 12px;
    color: #6A7187;
}
.email{
    font-size: 12px!important;
    color: #6A7187!important;
}
.editIcon{
    font-size: 14px!important;
    color: #111212!important;
}

.userDataTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.userDataTwo span:nth-child(1){
   width:50%;
   color: #017D3D;
}
.userDataTwo span:nth-child(2){
   width:50%;
   font-size: 12px;
    color: #6A7187;
}
/* .userState{
    display: flex;
    justify-content:center;
    align-items:center;
} */
.userStateBlocked span{
    font-size: 12px!important;
    background-color: rgb(249, 88, 88)!important;
    width: 53px;
    width: 53px;
    height: 18px;
    text-align: center;
    border-radius: 2px;
    color: #fff!important;
    margin-left: 5px;
    margin-top: 10px;
    padding: 2px 5px;
}
.userState span{
    font-size: 12px!important;
    background-color: var(--primaryColor)!important;
    width: 53px;
    width: 53px;
    height: 18px;
    text-align: center;
    border-radius: 2px;
    color: #fff!important;
    margin-left: 5px;
    margin-top: 10px;
    padding: 2px 5px;
}
.userProfDisplay, .user-details{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.user-details .userDataName:nth-child(1){
    line-height: 145%; /* 36.25px */
    letter-spacing: 0.2px;
}
.user-details .userDataName{
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
}
.editDel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.editDel div{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    cursor: pointer;
}
.edit span{
    color:var(--primaryColor);
    font-size: 12px;
}
.delete span{
    color:#F23030;
    font-size: 12px;
}
.plotBtn{
    float: right;
    padding: 2px 10px;
    font-size:13px;
    border-radius:20px;
    color: #fff;
    background-color: var(--primaryColor);
    cursor: pointer;
    text-decoration: none;
}
.plotParent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.plotParent .plotInfo:nth-child(odd) {
    border-right: 1px solid #DADADA!important;
}
.plotInfo{
    width: 33%;
    padding: 2%!important;
}
.plotInfo h4{
    font-size: 14px;
}
.profInfo{
    width: 100%;
    padding:5% 10%;
}
.profInfo h4{
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1 solid #DADADA!important;
}
.profData{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 4% 0;
}
.profData span{
    font-size: 13px;
    color: #6A7187;
}
.profData span:nth-child(2){
    text-align: right;
}
.profData.balance{
   border: 0px!important;
}
.feath4{
    font-size: 14px;
    font-weight: 600;
}
.otherFeatures{
    display: flex;
    justify-content: space-between;
}
.feat-b{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-top:5%; */
    width: 48%;
    height: 150px;
    padding: 4%;
    border-radius: 10px;
}
.otherFeatures .feat-b:nth-child(1){
    background-color: #E7F3FB;
}
.otherFeatures .feat-b:nth-child(2){
    background-color: #EBE0FF;
}
.feat-b div:nth-child(2){
    display:flex;
    align-items: center;
}
.request-b{
    display: flex;
    justify-content:space-between;
}
.report-b{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:5%;
    width: 100%;
    min-height: 200px;
    padding: 4%;
    background-color: #FAFAFA;
    border-radius: 10px;
}
.rep-list{
    border-bottom: 1px solid #D9D9D9;
    padding: 2% 0;
}
.dueParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8% 5%;
    border: 1px solid #D9D9D9;
    margin-top:5%;
    background-color: #fafafa;
}
.dueParent span:nth-child(3){
    font-size: 12px;
    color: #6A7187;
}
.dueParent div .perfName{
    font-size: 14px;
    font-weight: 600;
}
.dueParent div .perfAmount{
    font-size: 12px;
}
.perfomer{
    display: flex;
    gap:10px;
    padding: 2% 5%;
    /* border-bottom: 1px solid #D9D9D9; */
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-top:10%;
    background-color: var(--secColor);
}
.perfOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.perfImg{
  width: 50px!important;
  height: 50px!important;
  border-radius: 50px;
}
.perfOne div{
    display: flex;
    flex-direction: column;
}
.perfName{
    font-size: 15px;
    font-weight: 600;
}
.perfAmount{
    font-size: 10px;
    font-weight: bold;
}
.perfNumb{
    font-size: 22px;
    font-weight: bold;
    color:var(--primaryColor);
}
.perfNubAmt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userSec{
    width: 80%;
    padding: 1% 0 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userSecOne .userDataOne{
    display: flex;
    gap: 10px;
}
.userDataOne .userDataName{
   width: 100%;
}
.mrk h4{
    font-weight: bold;
}
.referedBy{
    font-size: 14px;
}
.refImg{
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.refName{
    margin-left: 10px;
    font-size:12px
}
.list-referer{
    margin-bottom: 10%;
}
.updateType{
    display: flex;
    justify-content: space-between; align-items:center
}
.searchPlot{
    cursor: pointer;
    border: 1px solid #D9D9D9!important;
    padding: 3% 5%;
    margin-top:5%;
    border-radius: 5px;
}
.d-flex.flex-column span:nth-child(2){
    font-size: 12px;
    color: #6A7187;
}
.selectedPlot{
    border: 1px solid #017D3D!important;
}
.searchDiv{
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #D9D9D9!important;
    padding-bottom: 2%;
}
.serchImg{
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.serchText span{
    display: block;
    margin-left: 10px;
}
.serchName{
    font-size:16px
}
.serchEmail{
    font-size:10px
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.userBtnPa{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 5% 0 5%;
    margin-top: 2%;
}
.firstUserBtns{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.user-btn{
    padding: 5px 15px;
    float: right;
    font-size:14px;
    border-radius:20px;
    color: #fff;
    background-color: #242C3A;
    cursor: pointer;
    text-decoration: none;
}
.user-btn:hover{
    color: #fff;
    background-color:#14171e;
}
.user-inactivBtn{
    padding: 5px 15px;
    float: right;
    font-size:14px;
    border-radius:20px;
    color: #000;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    text-decoration: none;
}
.user-inactivBtn:hover{
    color: #fff;
    background-color:#12121F;
}
.activate-btn{
    padding: 5px 15px;
    font-size:14px;
    border-radius:5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background-color: #017D3D;
}
.del-btn{
    padding: 5px 15px;
    font-size:14px;
    border-radius:5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background-color: #F23030;
}
.userOverview{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid #D9D9D9!important;
    margin-top: 5%;
}
.user-summary{
    border-right: 1px solid #D9D9D9!important;
    width: 30%;
}
.user-trans{
    width: 70%;
    padding: 2%;
}
.summaryBox{
    display: flex;
    gap: 10px;
}
.summaryBox div{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
    padding-top:15%;
    border-radius: 5px;
}
.summaryBox div:nth-child(1){
    background-color: #D2ECCF;
}
.summaryBox div:nth-child(2){
    background-color: #C9E192;
}
.summaryBox div span{
    font-weight: bold;
    font-size: 16px;
}
.tranHeader{
    border-bottom: 1px solid #D9D9D9!important;
    padding-bottom: 1%;
}
.tranHeader span:nth-child(1){
   font-size: 14px;
   font-weight: 600;
}
.tranHeader span:nth-child(2){
   font-size: 12px;
   margin-left: 10px;
}
.completed{
    background-color: var(--primaryColor)!important;
    padding: 2% 5%;
    color:#fff!important;
    font-size:12px;
}
.docList .col-12 .table{
    margin-bottom: 0rem!important;
}
.table-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.row-per{
    display: flex;
    gap: 20px;
}
.row-arrow{
    display: flex;
    gap: 5px;
    cursor: pointer;
    padding-right: 5%;
}
.table-footer .row-per span{
    color: #465366;
    font-size:12px;
}
.row-per .leftArrow, .row-per .rightArrow{
    background-color: #F0F7EE;
    font-weight: bold;
    /* padding: 8%; */
    border-radius: 10px;
}

.clientSummaryBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5%;
}

.clientSummaryBox div{
    display: flex;
    flex-direction: column;
    width: 100px!important;
    padding-bottom:5%;
    padding-top:10%;
    padding-left: 4%;
    border-radius: 5px;
}
.clientSummaryBox div:nth-child(1){
    background-color: #F0F7EE;
}
.clientSummaryBox div:nth-child(2){
    background-color: #D2ECCF;
}
.clientSummaryBox div:nth-child(3){
    background-color: #C9E192;
}
.clientSummaryBox div span{
    font-weight: bold;
    font-size: 12px;
}
.LoginProf .userDataOne{
    display: flex;
    align-items: center!important;
    gap: 15px;
}
.userDataOne .useDataImg{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.LoginProf .userDataOne .userDataName{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: auto;
}
.LoginProf .userDataOne .profName{
    color: #12121F;
    font-size: 14px!important;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
    letter-spacing: 0.2px;
}
.editProfIcon{
    font-size: 18px!important;
    color: #111212!important;
}
.sidebarBox{
    display: flex;
    /* gap: 5vh; */
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}
.navParent{
    width: 100%;
    /* margin-top: 10px; */
}
.elogo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding-top: 20px; */
}
.enteroLogo{
    width: 120px;
    height: 64px;
}
.ml5{
    margin-left:10%;
}

.estate-details{
    border-left: 1px solid #D9D9D9!important;
    width: 30%;
}
.docDiv-one {
    width: 33%;
}
.docDiv-two {
    width: 33%;
    border-left: 1px solid #D9D9D9!important;
}
.docOne{
    width: 100%;
    /* padding: 2%; */
}
.h4{
    font-size: 14px!important;
    font-weight: 600!important;
}
.doc-one{
    width: 50%;
    /* padding: 2%; */
}
.doc-two{
    width: 50%;
    border-left: 1px solid #D9D9D9!important;
}
.total-amount{
    display: flex!important;
    flex-direction: column;
}
.total-amount span:nth-child(1){
    font-size: 12px;
    color: #12121F;
    margin-top: 10px;;
}
.total-amount span:nth-child(2){
    font-size: 24px;
    color: #6A7187;
    font-weight: 500;
}
.successStatus{
    background-color: #017D3D;
    color: #fff!important;
    padding: 2px 8px;
    border-radius: 4px;
}
.soldStatus{
    background-color: rgba(255, 9, 0, 0.8);
    color: #fff!important;
    padding: 2px 8px;
    border-radius: 4px;
}
.availableStatus{
    background-color: #017D3D;
    color: #fff!important;
    padding: 2px 8px;
    border-radius: 4px;
}
.pendingStatus{
    color: #000!important;
    background-color: #FED036;
    padding: 2px 8px;
    border-radius: 4px;
}
.rejectedStatus{
    color: #fff!important;
    background-color: #fe3636;
    padding: 2px 8px;
    border-radius: 4px;
}
.p0{
    padding: 0 1% 0 1%!important;
}


span.fa{
    margin-right: 10px;
}
.nav-link{
    color: #7c7c7c!important;
    font-size: 15px;
    padding: 0.8rem!important;
    margin-top: 0.8rem!important;
    width: auto;
    /* line-height: 36px;  */
}
.nav-link:hover{
    color: #7c7c7c!important;
    padding:0%
}
.nav-link.active{
    background-color: var(--primaryColor);
    border-radius: 10px;
    color: #fff!important;
}
.noOf{
    font-size: 1rem;
    font-weight: 800;
    position: relative;bottom: 20%;
}
.subsec{
    width: 100%;
    margin-top: 5%;
}
.cad{
    width: 25%;
    height:130px;
    display: inline-block;
    border-radius: 20px;
    background-color: #f2f5fa;
    margin-right: 3%;
    padding:3%;
}
.cad1{
    background-color: #ebfdef;
}
.cad2{
    background-color: #e8eff9;
}
.cad3{
    background-color: #ffefe7;
}
.cadhide{
    width: 10%;
    display: inline-block;
    background-color: #fff;
}
.proCon{
   width: 100%;
   overflow: auto;
   white-space: nowrap;
}
.add{
    width: 10%;
    height:220px;
    display: inline-block;
    margin-right: 3%;
    /* position: relative; */
    /* bottom:50px; */
}
.proCad{
    width: 30%;
    height:220px;
    display: inline-block;
    border-radius: 20px;
    background-color: #f2f5fa;
    margin-right: 3%;
    /* padding:3%; */
	position: relative;
}
.estCon{
   width: 100%;
}
.estCad{
    width: 30%; 
    margin-right: 3%;
    margin-top: 3%;
    height:220px;
    display: inline-block;
    border-radius: 5px;
    background-color: #f2f5fa;
	position: relative;
}
.proImg{   
    width: 100%;
    height: 220px!important;
    object-fit: cover;
    border-radius: 5px;
}
.itemDetails{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	padding-left: 10%;
	padding-bottom: 5%;
	padding-top: 5%;
	background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    color:#fff;
}
.itemDetails span{
	text-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.itemDetails h4{
    font-size:15px;
    font-weight:bold;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none!important;
    cursor: pointer;
}

.tableHead{
    background-color: #f2f5fa;
    border-radius: 10px;
    padding: 10px 5px 0px 10px;
    border-style: none;
    margin-bottom:2%;
}
.tableContent{
    background-color: var(--primaryColor)!important;
    border-radius: 10px;    
    padding: 10px 5px 0px 10px;
    /* border-style: solid;
    border-width: 0.5px;  */
    /* margin-top:2%; */
    width: 100%;
    height: 90vh;
}
.tableContent p{
    color: #fff;
}
.form{
    padding:5% 0px;
}
.btn-primary {
    color: #fff;
    background-color: var(--primaryColor)!important;
    border-color: var(--primaryColor)!important;
}
/* .tableContent:hover{
    background: #0b9967;
    cursor: pointer;
    color: #fff;
} */
.th{
    width: 10%;
    height:auto;
    display: inline-block;
    margin-right: 3%;
}
td span:hover{
    /* color: #fff!important; */
    cursor: pointer;
}
.table-striped>tbody>tr.list:hover{
    background: var(--primaryColor);
    color: #fff!important;
    /* cursor: pointer; */
}
th, td {
    border-bottom: 1px solid #ddd;
  }
tr td{
    background-color: #fff;
}
tr:nth-child(even) {
    background-color: transparent;
}
.item-list{
    font-size:14px;
}
.btn-add{
    padding: 4px 8px;
    float: right;
    font-size:13px;
    border-radius:20px;
    color: #fff;
    background-color: var(--primaryColor);
    cursor: pointer;
    text-decoration: none;
}
.btn-add:hover{
    color: #fff;
    background-color:#0a7650;
}
.form-check-input:checked {
    background-color: var(--primaryColor)!important;
    border-color: var(--primaryColor)!important;
}
.navBtn{
    display: none;
}
h5{
    color: var(--primaryColor)
}
/* .white-card {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
    padding-bottom: 5%!important;
    margin-top: 3%!important;
} */
.breadcrumb>li {
    display: inline-block;
    margin-right: 15px;
    padding: 2px 10px!important;
    border-radius: 8px;
    font-weight: 500;
}
.li {
    background-color: #b6b6b6;
    color: #000;
}
.breadcrumb>li a {
    color: #000;
    text-decoration: none;
}
span.h4{
    font-size: 18px;
}
.category-menu {
    display:flex;
    flex-direction:row;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    transition: .5s ease;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.searchBtn{
    background-color: var(--primaryColor);
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
.searchBtn:hover{
    color: #fff;
}
.searchBtn span{
    text-align: center;
    margin-left: 30%;
}
.nav-link.activ{
   color: var(--primaryColor)!important;
   font-weight: bold
}
.acti{
    color: var(--primaryColor)!important;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
 }
.soldOut{
     color: red!important;
     font-weight: bold;
     text-decoration: none;
     font-size: 22px;
  }
.sold{
      color: rgba(255, 9, 0)!important;
      font-weight: bolder;
      /* text-decoration: none;
      font-size: 22px; */
   }
.pending{
    color: #ffd200!important;
    font-weight: bolder;
    text-decoration: none;
    font-size: 22px;
 }
span.line {
    position: relative;
    left: 0;
    top: 40px;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #979797;
}
/* estate layout css */
span.estLine {
    position: relative;
    left: 0;
    top: 40px;
    width: 70%;
    height: 1px;
    display: block;
    background-color: #979797;
}
.detail-list{
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
.detail-list .hr{
    /* width: 40%; */
    height: 1px;
    display: block;
    background-color: #979797;
}
.statushr{
    width: 85%;
    height: 1px;
    display: block;
    background-color: #979797;
}
.estText{
    /* font-size:22px!important; */
    color: var(--primaryColor)!important;
    font-weight: bold!important;
    text-decoration: none;
}


.nav.lastNav {
    flex-wrap: nowrap;
}
#container{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.white-card h5{
    font-weight:bold;
}
span.fullName{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 5%;
}
.spa{
    font-size: 18px;
    line-height: .2;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: transparent;
    color: var(--bs-table-striped-color);
}
.table-striped>tbody>tr:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
}
.table-striped>tbody>tr:hover td {
    color: #fff;
}
.pic{
    width: 25px!important;
    height:  25px!important;
    border-radius:100%;
    margin-right: 5px;
}
.offcanvas{
    margin:15px;
    /* padding: 5% 0; */
    border-radius: 10px;
}
.offcanvas-end{
    width: 40%!important;
}
.useDataImg3 {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.adminForm{
    padding:3% 5%;
}
.estateDetails{
    padding:3% 5%;
    display: flex;
    flex-direction: column
}
.estateDetails span:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    line-height:1;
}
.estateDetails span:nth-child(2){
    font-size: 14px;
}
.view-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5px;
}
.view-more span{
    cursor: pointer;
    font-size: 14px;
    color: #12121F;
}
.view-acc span{
    cursor: pointer;
    font-size: 12px;
    color: #6A7187;
}
.imgCircleDiv{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.profilePic{
    width: 75px!important;
    height:  75px!important;
    border-radius:100%;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.flex span{
    cursor: pointer;
}
.prop h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: Barlow,sans-serif;
    color: #02a14f;
}
.priceBox .price {
    color: #02a14f;
    font-weight: 700;
    font-size: 20px;
}
.priceBox .call i {
    background-color: #017d3d;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    border-radius: 100%;
    padding: 5px;
}
.pop-icons {
    color: #02a14f;
}
.prop h4 {
    font-size: 22px;
    line-height: 30px;
    color: #1a3025;
    font-weight: 700;
}
.prop span.prop-text {
    font-size: 16px;
    font-weight: 700!important;
    color: #1a3025;
}

.docBox .price {
    color: #000;
    font-weight: 700;
    font-size: 16px;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
  }
  #myImgBig{
    width: 100%;
    height: 100%;
  }
.priceBox.plan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.priceBox.plan span, span.fa-arrow-left{
     cursor: pointer;
  }
  .imgTitle{
      /* position: absolute;
      bottom: 0; */
      width: 100%;
      color: var(--primaryColor);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
  }
  .imgTitle p{
      font-size: 18px;
      font-weight: bold;
  }
  .imgTitle span{
      cursor: pointer;
  }
  #myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  .owl-dots{
      position: absolute!important;
      top: 8vw!important;
      width: 100%;
      left: 0;
  }
  .owl-carousel button.owl-dot {
    background: rgba(3, 3, 3, 0.73)!important;
    content: "$0";
    color: #fff;
    border-width: 2px!important;
    border-style: outset!important;
    border-color: transparent!important;
    box-shadow: none!important;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.owl-carousel button.owl-dot:nth-child(1){
    position: relative!important;
    top: 0px;
    left: 2%;
}
.owl-carousel button.owl-dot:nth-child(2){
    position: relative!important;
    top: 0px;
    left: 90%;
}
.page-link {
    color: var(--primaryColor)!important;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff!important;
    background-color: var(--primaryColor)!important;
    border-color:  var(--primaryColor)!important;
}
.activeNav{
    color: var(--primaryColor)!important;
}
.activeNav:hover{
    color: var(--primaryColor)!important;
}
.mapSection{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: scroll;
    padding-top: 2%;
}
.wrapper {
    overflow: auto;
    /* transform: scale(5); */
    /* transform-origin: top left; */
    width: 100%;
    height: 100vh;
  }
.scrollable-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
.layout{
    width:100%; 
  }
  .layout svg{
    height: auto;
    width: 100%;
  }
  .layout svg path:hover{
    cursor: pointer;
    fill: rgba(88, 129, 87, .4);
  }
  
  .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-bottom: 1px solid #D9D9D9!important;
    font-size: 14px;
    line-height: 1.8;
}
  .tableImg{
    width: 30px!important;
    height: 30px!important;
    border-radius: 50px;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  
  
  
  /* 100% Image Width on Smaller Screens */
  /* @media only screen and (max-width: 700px){
    .myModal-content {
      width: 100%;
    }
  }   */


@media only screen and (max-width: 770px){
.main {
    left: 0;
    background-color: #fff!important;
    min-height: 100vh;
    width: 100%;
    padding: 3% 5%;
    display: block;
}
.navBtn{
    display: block;
}
.sidebar{
    display: none;
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 5; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    transition: 0.2s; 
    background-color: #fff;
    /* padding: 20px; */
}
.flex-column.nav {
    padding-right: 10px!important;
    transition: 1.5s; 
}
.overlay3 {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 40%;
    transition: opacity 1s;
}
  
.cad {
    width: 30%;
    height: 120px;
    border-radius: 10px;
    margin-right: 3%;
    padding: 5% 3% 3% 3%;
}
.proCad {
    width: 45%;
    height: 180px;
    border-radius: 10px;
}
.proImg {
    height: 180px!important;
    border-radius: 10px;
}
.itemDetails{
    padding-left: 3%;
    border-radius: 5px;
}
.tableContent {
    border-radius: 10px;
    padding: 5% 2%;
    height: auto;
}
.estCad {
    width: 100%;
    margin-top: 10%;
    height: auto;
    display: block;
}
.estCad .proImg {
    height: 220px!important;
    border-radius: 10px;
}
.offcanvas{
    margin:0px;
}
.offcanvas-end {
    width: 100%!important;
}
.owl-carousel button.owl-dot:nth-child(2){
    position: relative!important;
    top: 0px;
    left: 80%;
}

.prop h3 {
    font-size: 25px!important;
}

}